<div class="footerContainer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-5">
                <h4>FOLLOW</h4>
                <p>
                    <a href="https://github.com/hminnnn"><i class="footericon center circular github icon large"></i></a>
                    <i class="footericon center circular facebook f icon large"></i>
                    <i class="footericon center circular linkedin in icon large"></i>

                </p>
                <p>
                    <b> © 2020 HMINNNN</b>
                </p>

            </div>
            <div class="col-12 col-md-7">
                <h4>FEATURE</h4>

                <div class="ui action input text-center" data-tooltip="Just kidding it doesn't work">
                    <input class="darkbg" type="text" placeholder="Enter your website">
                    <button class="ui button lightbg">Add your site</button>
                </div>

                <p class="pt-4">Items are updated by scraping the websites of those blogshops.</p>
                <!-- Look inspired from https://www.protest.eu/en/rw/category/women/ hehe -->
            </div>




        </div>
    </div>